.DS_Store
node_modules
_*_node_modules
build-config.json
build-config.staging.json
app-config.js
dependencies/*
current/*
dist/*
temp
.idea
*.swp
*.swo
*.sublime*
html/index.html
Grunt-gulp.coffee
**/*sprite-map.styl
**/*icons-map.styl
**/*sprite*.png
assets/fonts
test/